csharp/config/client/Service References/CertificateService/CertificateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:i0="urn:directproject:config/store/082010" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="CertificateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="urn:directproject:config/store/082010" location="http://localhost:6692/CertificateService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ICertificateStore" type="i0:ICertificateStore">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddCertificate">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertificateStore/AddCertificate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddCertificates">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertificateStore/AddCertificates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificate">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertificateStore/GetCertificate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificates">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertificateStore/GetCertificates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertificatesForOwner">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertificateStore/GetCertificatesForOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetCertificateStatus">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertificateStore/SetCertificateStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetCertificateStatusForOwner">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertificateStore/SetCertificateStatusForOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveCertificates">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertificateStore/RemoveCertificates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveCertificatesForOwner">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertificateStore/RemoveCertificatesForOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EnumerateCertificates">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertificateStore/EnumerateCertificates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IAnchorStore" type="i0:IAnchorStore">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAnchor">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAnchorStore/AddAnchor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddAnchors">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAnchorStore/AddAnchors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAnchor">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAnchorStore/GetAnchor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAnchors">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAnchorStore/GetAnchors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAnchorsForOwner">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAnchorStore/GetAnchorsForOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetIncomingAnchors">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAnchorStore/GetIncomingAnchors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOutgoingAnchors">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAnchorStore/GetOutgoingAnchors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetAnchorStatus">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAnchorStore/SetAnchorStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetAnchorStatusForOwner">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAnchorStore/SetAnchorStatusForOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EnumerateAnchors">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAnchorStore/EnumerateAnchors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveAnchors">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAnchorStore/RemoveAnchors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveAnchorsForOwner">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAnchorStore/RemoveAnchorsForOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IBundleStore" type="i0:IBundleStore">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBundle">
      <soap:operation soapAction="urn:directproject:config/store/082010/IBundleStore/AddBundle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddBundles">
      <soap:operation soapAction="urn:directproject:config/store/082010/IBundleStore/AddBundles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBundle">
      <soap:operation soapAction="urn:directproject:config/store/082010/IBundleStore/GetBundle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBundles">
      <soap:operation soapAction="urn:directproject:config/store/082010/IBundleStore/GetBundles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBundlesForOwner">
      <soap:operation soapAction="urn:directproject:config/store/082010/IBundleStore/GetBundlesForOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetIncomingBundles">
      <soap:operation soapAction="urn:directproject:config/store/082010/IBundleStore/GetIncomingBundles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOutgoingBundles">
      <soap:operation soapAction="urn:directproject:config/store/082010/IBundleStore/GetOutgoingBundles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetBundleStatus">
      <soap:operation soapAction="urn:directproject:config/store/082010/IBundleStore/SetBundleStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetBundleStatusForOwner">
      <soap:operation soapAction="urn:directproject:config/store/082010/IBundleStore/SetBundleStatusForOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EnumerateBundles">
      <soap:operation soapAction="urn:directproject:config/store/082010/IBundleStore/EnumerateBundles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveBundles">
      <soap:operation soapAction="urn:directproject:config/store/082010/IBundleStore/RemoveBundles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveBundlesForOwner">
      <soap:operation soapAction="urn:directproject:config/store/082010/IBundleStore/RemoveBundlesForOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CertificateService">
    <wsdl:port name="BasicHttpBinding_ICertificateStore" binding="tns:BasicHttpBinding_ICertificateStore">
      <soap:address location="http://localhost:6692/CertificateService.svc/Certificates" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IAnchorStore" binding="tns:BasicHttpBinding_IAnchorStore">
      <soap:address location="http://localhost:6692/CertificateService.svc/Anchors" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IBundleStore" binding="tns:BasicHttpBinding_IBundleStore">
      <soap:address location="http://localhost:6692/CertificateService.svc/Bundles" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>