csharp/config/client/Service References/CertificateService/CertificateService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="EntityStatus">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Enabled" />
      <xs:enumeration value="Disabled" />
      <xs:enumeration value="Deleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EntityStatus" nillable="true" type="tns:EntityStatus" />
  <xs:simpleType name="ConfigStoreError">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unexpected" />
      <xs:enumeration value="Conflict" />
      <xs:enumeration value="DatabaseError" />
      <xs:enumeration value="UniqueConstraint" />
      <xs:enumeration value="ForeignKeyConstraint" />
      <xs:enumeration value="InvalidIDs" />
      <xs:enumeration value="InvalidDomain" />
      <xs:enumeration value="InvalidDomainName" />
      <xs:enumeration value="DomainNameLength" />
      <xs:enumeration value="InvalidDomainID" />
      <xs:enumeration value="InvalidAddress" />
      <xs:enumeration value="AddressLength" />
      <xs:enumeration value="DisplayNameLength" />
      <xs:enumeration value="InvalidEmailAddress" />
      <xs:enumeration value="InvalidCertificate" />
      <xs:enumeration value="InvalidX509Certificate" />
      <xs:enumeration value="MissingCertificateData" />
      <xs:enumeration value="InvalidOwnerName" />
      <xs:enumeration value="OwnerLength" />
      <xs:enumeration value="InvalidThumbprint" />
      <xs:enumeration value="InvalidAnchor" />
      <xs:enumeration value="AccountNameLength" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConfigStoreError" nillable="true" type="tns:ConfigStoreError" />
  <xs:complexType name="ArrayOfAnchor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Anchor" nillable="true" type="tns:Anchor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnchor" nillable="true" type="tns:ArrayOfAnchor" />
  <xs:complexType name="Anchor">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ForIncoming" type="xs:boolean" />
      <xs:element minOccurs="0" name="ForOutgoing" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Owner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Thumbprint" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ValidEndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ValidStartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Anchor" nillable="true" type="tns:Anchor" />
</xs:schema>