csharp/config/client/Service References/CertificateService/CertificateService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.nhindirect.org/config/store/082010" elementFormDefault="qualified" targetNamespace="http://www.nhindirect.org/config/store/082010" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6692/CertificateService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" />
  <xs:import schemaLocation="http://localhost:6692/CertificateService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddCertificates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="certificates" nillable="true" type="tns:ArrayOfCertificate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfCertificate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Certificate" nillable="true" type="tns:Certificate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCertificate" nillable="true" type="tns:ArrayOfCertificate" />
  <xs:complexType name="Certificate">
    <xs:sequence>
      <xs:element name="CreateDate" type="xs:dateTime" />
      <xs:element name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element name="ID" type="xs:long" />
      <xs:element name="Owner" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" name="Status" type="q1:EntityStatus" />
      <xs:element name="Thumbprint" nillable="true" type="xs:string" />
      <xs:element name="ValidEndDate" type="xs:dateTime" />
      <xs:element name="ValidStartDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Certificate" nillable="true" type="tns:Certificate" />
  <xs:element name="AddCertificatesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ConfigStoreFault">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" minOccurs="0" name="Error" type="q2:ConfigStoreError" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigStoreFault" nillable="true" type="tns:ConfigStoreFault" />
  <xs:element name="GetCertificate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="thumbprint" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="options" nillable="true" type="tns:CertificateGetOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CertificateGetOptions">
    <xs:sequence>
      <xs:element minOccurs="0" name="IncludeData" type="xs:boolean" />
      <xs:element minOccurs="0" name="IncludePrivateKey" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CertificateGetOptions" nillable="true" type="tns:CertificateGetOptions" />
  <xs:element name="GetCertificateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCertificateResult" nillable="true" type="tns:Certificate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertificates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="certificateIDs" nillable="true" type="q3:ArrayOflong" />
        <xs:element minOccurs="0" name="options" nillable="true" type="tns:CertificateGetOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertificatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCertificatesResult" nillable="true" type="tns:ArrayOfCertificate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertificatesForOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="options" nillable="true" type="tns:CertificateGetOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCertificatesForOwnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCertificatesForOwnerResult" nillable="true" type="tns:ArrayOfCertificate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCertificateStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="certificateIDs" nillable="true" type="q4:ArrayOflong" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" minOccurs="0" name="status" type="q5:EntityStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCertificateStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCertificateStatusForOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" minOccurs="0" name="status" type="q6:EntityStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCertificateStatusForOwnerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCertificates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="certificateIDs" nillable="true" type="q7:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCertificatesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCertificatesForOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveCertificatesForOwnerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumerateCertificates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastCertificateID" type="xs:long" />
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
        <xs:element minOccurs="0" name="options" nillable="true" type="tns:CertificateGetOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumerateCertificatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnumerateCertificatesResult" nillable="true" type="tns:ArrayOfCertificate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnchors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" minOccurs="0" name="anchors" nillable="true" type="q8:ArrayOfAnchor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAnchorsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnchors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="anchorIDs" nillable="true" type="q9:ArrayOflong" />
        <xs:element minOccurs="0" name="options" nillable="true" type="tns:CertificateGetOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnchorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" minOccurs="0" name="GetAnchorsResult" nillable="true" type="q10:ArrayOfAnchor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnchorsForOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="options" nillable="true" type="tns:CertificateGetOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAnchorsForOwnerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" minOccurs="0" name="GetAnchorsForOwnerResult" nillable="true" type="q11:ArrayOfAnchor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncomingAnchors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="options" nillable="true" type="tns:CertificateGetOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIncomingAnchorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" minOccurs="0" name="GetIncomingAnchorsResult" nillable="true" type="q12:ArrayOfAnchor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutgoingAnchors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="options" nillable="true" type="tns:CertificateGetOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOutgoingAnchorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" minOccurs="0" name="GetOutgoingAnchorsResult" nillable="true" type="q13:ArrayOfAnchor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumerateAnchors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastAnchorID" type="xs:long" />
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
        <xs:element minOccurs="0" name="options" nillable="true" type="tns:CertificateGetOptions" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumerateAnchorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" minOccurs="0" name="EnumerateAnchorsResult" nillable="true" type="q14:ArrayOfAnchor" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAnchors">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="anchorIDs" nillable="true" type="q15:ArrayOflong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAnchorsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAnchorsForOwner">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="owner" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAnchorsForOwnerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>