csharp/config/client/Service References/SettingsManager/SettingsManager3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:directproject:config/store/082010" elementFormDefault="qualified" targetNamespace="urn:directproject:config/store/082010" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6692/SettingsManager.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Health.Direct.Config.Store" />
  <xs:import schemaLocation="http://localhost:6692/SettingsManager.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="property" nillable="true" type="tns:Property" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Property">
    <xs:sequence>
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Property" nillable="true" type="tns:Property" />
  <xs:element name="AddPropertyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ConfigStoreFault">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Health.Direct.Config.Store" minOccurs="0" name="Error" type="q1:ConfigStoreError" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigStoreFault" nillable="true" type="tns:ConfigStoreFault" />
  <xs:element name="AddProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="properties" nillable="true" type="tns:ArrayOfProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Property" nillable="true" type="tns:Property" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProperty" nillable="true" type="tns:ArrayOfProperty" />
  <xs:element name="AddPropertiesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="properties" nillable="true" type="tns:Property" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPropertyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="properties" nillable="true" type="tns:ArrayOfProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPropertiesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="propertyNames" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPropertiesResult" nillable="true" type="tns:ArrayOfProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertiesByPrefix">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyNamePrefix" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPropertiesByPrefixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPropertiesByPrefixResult" nillable="true" type="tns:ArrayOfProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="propertyNames" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePropertyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="propertyNames" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePropertiesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddBlob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="blob" nillable="true" type="tns:NamedBlob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="NamedBlob">
    <xs:sequence>
      <xs:element name="CreateDate" type="xs:dateTime" />
      <xs:element name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element name="UpdateDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NamedBlob" nillable="true" type="tns:NamedBlob" />
  <xs:element name="AddBlobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBlob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="blob" nillable="true" type="tns:NamedBlob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateBlobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="blobName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBlobResult" nillable="true" type="tns:NamedBlob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlobsByPrefix">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="blobNamePrefix" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBlobsByPrefixResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetBlobsByPrefixResult" nillable="true" type="tns:ArrayOfNamedBlob" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfNamedBlob">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NamedBlob" nillable="true" type="tns:NamedBlob" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNamedBlob" nillable="true" type="tns:ArrayOfNamedBlob" />
  <xs:element name="RemoveBlob">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="blobName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveBlobResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>