csharp/config/client/Service References/SettingsManager/SettingsManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:i0="urn:directproject:config/store/082010" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="SettingsManager" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="urn:directproject:config/store/082010" location="http://localhost:6692/SettingsManager.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IPropertyManager" type="i0:IPropertyManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddProperty">
      <soap:operation soapAction="urn:directproject:config/store/082010/IPropertyManager/AddProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddProperties">
      <soap:operation soapAction="urn:directproject:config/store/082010/IPropertyManager/AddProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetProperty">
      <soap:operation soapAction="urn:directproject:config/store/082010/IPropertyManager/SetProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetProperties">
      <soap:operation soapAction="urn:directproject:config/store/082010/IPropertyManager/SetProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetProperties">
      <soap:operation soapAction="urn:directproject:config/store/082010/IPropertyManager/GetProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPropertiesByPrefix">
      <soap:operation soapAction="urn:directproject:config/store/082010/IPropertyManager/GetPropertiesByPrefix" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveProperty">
      <soap:operation soapAction="urn:directproject:config/store/082010/IPropertyManager/RemoveProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveProperties">
      <soap:operation soapAction="urn:directproject:config/store/082010/IPropertyManager/RemoveProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IBlobManager" type="i0:IBlobManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddBlob">
      <soap:operation soapAction="urn:directproject:config/store/082010/IBlobManager/AddBlob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateBlob">
      <soap:operation soapAction="urn:directproject:config/store/082010/IBlobManager/UpdateBlob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBlob">
      <soap:operation soapAction="urn:directproject:config/store/082010/IBlobManager/GetBlob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetBlobsByPrefix">
      <soap:operation soapAction="urn:directproject:config/store/082010/IBlobManager/GetBlobsByPrefix" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveBlob">
      <soap:operation soapAction="urn:directproject:config/store/082010/IBlobManager/RemoveBlob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SettingsManager">
    <wsdl:port name="BasicHttpBinding_IPropertyManager" binding="tns:BasicHttpBinding_IPropertyManager">
      <soap:address location="http://localhost:6692/SettingsManager.svc/Properties" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IBlobManager" binding="tns:BasicHttpBinding_IBlobManager">
      <soap:address location="http://localhost:6692/SettingsManager.svc/Blobs" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>