csharp/config/client/Service References/RecordRetrieval/RecordRetrievalService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="urn:directproject:config/store/082010" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="urn:directproject:config/store/082010" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:directproject:config/store/082010/Imports">
      <xsd:import schemaLocation="http://localhost:6693/RecordRetrievalService.svc?xsd=xsd0" namespace="urn:directproject:config/store/082010" />
      <xsd:import schemaLocation="http://localhost:6693/RecordRetrievalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:6693/RecordRetrievalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Health.Direct.Common.DnsResolver" />
      <xsd:import schemaLocation="http://localhost:6693/RecordRetrievalService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Health.Direct.Config.Store" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRecordRetrievalService_GetMatchingDnsRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchingDnsRecords" />
  </wsdl:message>
  <wsdl:message name="IRecordRetrievalService_GetMatchingDnsRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMatchingDnsRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordRetrievalService_GetMatchingDnsRecords_ConfigStoreFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ConfigStoreFault" />
  </wsdl:message>
  <wsdl:message name="IRecordRetrievalService_GetCertificatesForOwner_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificatesForOwner" />
  </wsdl:message>
  <wsdl:message name="IRecordRetrievalService_GetCertificatesForOwner_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCertificatesForOwnerResponse" />
  </wsdl:message>
  <wsdl:message name="IRecordRetrievalService_GetCertificatesForOwner_ConfigStoreFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:ConfigStoreFault" />
  </wsdl:message>
  <wsdl:portType name="IRecordRetrievalService">
    <wsdl:operation name="GetMatchingDnsRecords">
      <wsdl:input wsaw:Action="urn:directproject:config/store/082010/IRecordRetrievalService/GetMatchingDnsRecords" message="tns:IRecordRetrievalService_GetMatchingDnsRecords_InputMessage" />
      <wsdl:output wsaw:Action="urn:directproject:config/store/082010/IRecordRetrievalService/GetMatchingDnsRecordsResponse" message="tns:IRecordRetrievalService_GetMatchingDnsRecords_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:directproject:config/store/082010/IRecordRetrievalService/GetMatchingDnsRecordsConfigStoreFaultFault" name="ConfigStoreFaultFault" message="tns:IRecordRetrievalService_GetMatchingDnsRecords_ConfigStoreFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCertificatesForOwner">
      <wsdl:input wsaw:Action="urn:directproject:config/store/082010/IRecordRetrievalService/GetCertificatesForOwner" message="tns:IRecordRetrievalService_GetCertificatesForOwner_InputMessage" />
      <wsdl:output wsaw:Action="urn:directproject:config/store/082010/IRecordRetrievalService/GetCertificatesForOwnerResponse" message="tns:IRecordRetrievalService_GetCertificatesForOwner_OutputMessage" />
      <wsdl:fault wsaw:Action="urn:directproject:config/store/082010/IRecordRetrievalService/GetCertificatesForOwnerConfigStoreFaultFault" name="ConfigStoreFaultFault" message="tns:IRecordRetrievalService_GetCertificatesForOwner_ConfigStoreFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>