java/config/config-service/src/main/resources/wsdl/DomainService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions targetNamespace="http://nhind.org/config" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://nhind.org/config" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://nhind.org/config" schemaLocation="DomainService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addDomain">
    <part name="parameters" element="tns:addDomain"/>
  </message>
  <message name="addDomainResponse">
    <part name="parameters" element="tns:addDomainResponse"/>
  </message>
  <message name="ConfigurationServiceException">
    <part name="fault" element="tns:ConfigurationServiceException"/>
  </message>
  <message name="updateDomain">
    <part name="parameters" element="tns:updateDomain"/>
  </message>
  <message name="updateDomainResponse">
    <part name="parameters" element="tns:updateDomainResponse"/>
  </message>
  <message name="getDomainCount">
    <part name="parameters" element="tns:getDomainCount"/>
  </message>
  <message name="getDomainCountResponse">
    <part name="parameters" element="tns:getDomainCountResponse"/>
  </message>
  <message name="getDomains">
    <part name="parameters" element="tns:getDomains"/>
  </message>
  <message name="getDomainsResponse">
    <part name="parameters" element="tns:getDomainsResponse"/>
  </message>
  <message name="removeDomain">
    <part name="parameters" element="tns:removeDomain"/>
  </message>
  <message name="removeDomainResponse">
    <part name="parameters" element="tns:removeDomainResponse"/>
  </message>
  <message name="ListDomains">
    <part name="parameters" element="tns:ListDomains"/>
  </message>
  <message name="ListDomainsResponse">
    <part name="parameters" element="tns:ListDomainsResponse"/>
  </message>
  <portType name="DomainService">
    <operation name="addDomain">
      <input message="tns:addDomain"/>
      <output message="tns:addDomainResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="updateDomain">
      <input message="tns:updateDomain"/>
      <output message="tns:updateDomainResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getDomainCount">
      <input message="tns:getDomainCount"/>
      <output message="tns:getDomainCountResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="getDomains">
      <input message="tns:getDomains"/>
      <output message="tns:getDomainsResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="removeDomain">
      <input message="tns:removeDomain"/>
      <output message="tns:removeDomainResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
    <operation name="ListDomains">
      <input message="tns:ListDomains"/>
      <output message="tns:ListDomainsResponse"/>
      <fault message="tns:ConfigurationServiceException" name="ConfigurationServiceException"/>
    </operation>
  </portType>
</definitions>

