java/config/config-service/src/main/resources/wsdl/DomainServiceWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.7-b01-. -->
<definitions targetNamespace="http://ws.service.config.nhindirect.org/" name="DomainServiceWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.service.config.nhindirect.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <import namespace="http://nhind.org/config" location="DomainService.wsdl"/>
  <binding name="DomainServiceWSPortBinding" type="ns1:DomainService" xmlns:ns1="http://nhind.org/config">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addDomain">
      <soap:operation soapAction="urn:AddDomain"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateDomain">
      <soap:operation soapAction="urn:UpdateDomain"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getDomainCount">
      <soap:operation soapAction="urn:GetDomainCount"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getDomains">
      <soap:operation soapAction="urn:GetDomains"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeDomain">
      <soap:operation soapAction="urn:RemoveDomain"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="ListDomains">
      <soap:operation soapAction="urn:ListDomains"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ConfigurationServiceException">
        <soap:fault name="ConfigurationServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="DomainServiceWSService">
    <port name="DomainServiceWSPort" binding="tns:DomainServiceWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

