csharp/config/client/Service References/MonitorService/MonitorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:directproject:config/store/082010" elementFormDefault="qualified" targetNamespace="urn:directproject:config/store/082010" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6692/MonitorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Health.Direct.Config.Store" />
  <xs:import schemaLocation="http://localhost:6692/MonitorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Start">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdns" nillable="true" type="tns:ArrayOfMdn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfMdn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mdn" nillable="true" type="tns:Mdn" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMdn" nillable="true" type="tns:ArrayOfMdn" />
  <xs:complexType name="Mdn">
    <xs:sequence>
      <xs:element name="CreateDate" type="xs:dateTime" />
      <xs:element name="Id" type="xs:long" />
      <xs:element name="MdnIdentifier" nillable="true" type="xs:string" />
      <xs:element name="MessageId" nillable="true" type="xs:string" />
      <xs:element name="NotifyDispatched" type="xs:boolean" />
      <xs:element name="Recipient" nillable="true" type="xs:string" />
      <xs:element name="Sender" nillable="true" type="xs:string" />
      <xs:element name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubjectValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mdn" nillable="true" type="tns:Mdn" />
  <xs:element name="StartResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ConfigStoreFault">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Health.Direct.Config.Store" minOccurs="0" name="Error" type="q1:ConfigStoreError" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigStoreFault" nillable="true" type="tns:ConfigStoreFault" />
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mdn" nillable="true" type="tns:Mdn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpiredProcessed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="expiredLimit" type="q2:duration" />
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpiredProcessedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExpiredProcessedResult" nillable="true" type="tns:ArrayOfMdn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpiredDispatched">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="expiredLimit" type="q3:duration" />
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpiredDispatchedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetExpiredDispatchedResult" nillable="true" type="tns:ArrayOfMdn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SweepTimouts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="expiredLimit" type="q4:duration" />
        <xs:element minOccurs="0" name="bulkCount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SweepTimoutsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumerateMdns">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastMdnName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumerateMdnsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnumerateMdnsResult" nillable="true" type="tns:ArrayOfMdn" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>