csharp/config/client/Service References/DomainManager/DomainManagerService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress" nillable="true" type="tns:ArrayOfAddress" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DomainID" type="xs:long" />
      <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="tns:EntityStatus" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:simpleType name="EntityStatus">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Enabled" />
      <xs:enumeration value="Disabled" />
      <xs:enumeration value="Deleted" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="EntityStatus" nillable="true" type="tns:EntityStatus" />
  <xs:simpleType name="ConfigStoreError">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="Unexpected" />
      <xs:enumeration value="Conflict" />
      <xs:enumeration value="DatabaseError" />
      <xs:enumeration value="UniqueConstraint" />
      <xs:enumeration value="ForeignKeyConstraint" />
      <xs:enumeration value="InvalidIDs" />
      <xs:enumeration value="InvalidDomain" />
      <xs:enumeration value="InvalidDomainName" />
      <xs:enumeration value="DomainNameLength" />
      <xs:enumeration value="InvalidDomainID" />
      <xs:enumeration value="InvalidAddress" />
      <xs:enumeration value="AddressLength" />
      <xs:enumeration value="DisplayNameLength" />
      <xs:enumeration value="InvalidEmailAddress" />
      <xs:enumeration value="InvalidCertificate" />
      <xs:enumeration value="InvalidX509Certificate" />
      <xs:enumeration value="MissingCertificateData" />
      <xs:enumeration value="InvalidOwnerName" />
      <xs:enumeration value="OwnerLength" />
      <xs:enumeration value="InvalidThumbprint" />
      <xs:enumeration value="InvalidAnchor" />
      <xs:enumeration value="AccountNameLength" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ConfigStoreError" nillable="true" type="tns:ConfigStoreError" />
  <xs:complexType name="Domain">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreateDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostmasterID" type="xs:long" />
      <xs:element minOccurs="0" name="Status" type="tns:EntityStatus" />
      <xs:element minOccurs="0" name="UpdateDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Domain" nillable="true" type="tns:Domain" />
  <xs:complexType name="ArrayOfDomain">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Domain" nillable="true" type="tns:Domain" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDomain" nillable="true" type="tns:ArrayOfDomain" />
</xs:schema>