csharp/config/client/Service References/DomainManager/DomainManagerService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.nhindirect.org/config/store/082010" elementFormDefault="qualified" targetNamespace="http://www.nhindirect.org/config/store/082010" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6692/DomainManagerService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" />
  <xs:import schemaLocation="http://localhost:6692/DomainManagerService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addresses" nillable="true" type="tns:ArrayOfAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Address" nillable="true" type="tns:Address" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAddress" nillable="true" type="tns:ArrayOfAddress" />
  <xs:complexType name="Address">
    <xs:sequence>
      <xs:element name="CreateDate" type="xs:dateTime" />
      <xs:element name="DisplayName" nillable="true" type="xs:string" />
      <xs:element name="DomainID" type="xs:long" />
      <xs:element name="EmailAddress" nillable="true" type="xs:string" />
      <xs:element name="ID" type="xs:long" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" name="Status" type="q1:EntityStatus" />
      <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
      <xs:element name="UpdateDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Address" nillable="true" type="tns:Address" />
  <xs:element name="AddAddressesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ConfigStoreFault">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" minOccurs="0" name="Error" type="q2:ConfigStoreError" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConfigStoreFault" nillable="true" type="tns:ConfigStoreFault" />
  <xs:element name="UpdateAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="address" nillable="true" type="tns:ArrayOfAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAddressesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="emailAddresses" nillable="true" type="q3:ArrayOfstring" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" minOccurs="0" name="status" nillable="true" type="q4:EntityStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAddressesResult" nillable="true" type="tns:ArrayOfAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="addressIDs" nillable="true" type="q5:ArrayOflong" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" minOccurs="0" name="status" nillable="true" type="q6:EntityStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressesByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAddressesByIDResult" nillable="true" type="tns:ArrayOfAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="emailAddresses" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAddressesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDomainAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domainID" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDomainAddressesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDomainAddressesStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domainID" type="xs:long" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" minOccurs="0" name="status" type="q8:EntityStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDomainAddressesStatusResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumerateDomainAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domainID" type="xs:long" />
        <xs:element minOccurs="0" name="lastAddressID" type="xs:long" />
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumerateDomainAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnumerateDomainAddressesResult" nillable="true" type="tns:ArrayOfAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumerateAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastAddressID" type="xs:long" />
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumerateAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnumerateAddressesResult" nillable="true" type="tns:ArrayOfAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDomain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domain" nillable="true" type="tns:Domain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Domain">
    <xs:sequence>
      <xs:element name="CreateDate" type="xs:dateTime" />
      <xs:element name="ID" type="xs:long" />
      <xs:element name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostmasterID" nillable="true" type="xs:long" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" name="Status" type="q9:EntityStatus" />
      <xs:element name="UpdateDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Domain" nillable="true" type="tns:Domain" />
  <xs:element name="AddDomainResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDomain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domain" nillable="true" type="tns:Domain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDomainResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomains">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="domainNames" nillable="true" type="q10:ArrayOfstring" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/NHINDirect.Config.Store" minOccurs="0" name="status" nillable="true" type="q11:EntityStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDomainsResult" nillable="true" type="tns:ArrayOfDomain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfDomain">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Domain" nillable="true" type="tns:Domain" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDomain" nillable="true" type="tns:ArrayOfDomain" />
  <xs:element name="RemoveDomain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domainName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveDomainResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumerateDomains">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastDomainID" type="xs:long" />
        <xs:element minOccurs="0" name="maxResults" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnumerateDomainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnumerateDomainsResult" nillable="true" type="tns:ArrayOfDomain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>