csharp/config/client/Service References/DomainManager/DomainManagerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="urn:directproject:config/store/082010" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DomainManagerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="urn:directproject:config/store/082010" location="http://localhost:6692/DomainManagerService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IAddressManager" type="i0:IAddressManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddAddress">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAddressManager/AddAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddAddresses">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAddressManager/AddAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateAddresses">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAddressManager/UpdateAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAddresses">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAddressManager/GetAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAddressesOrDomain">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAddressManager/GetAddressesOrDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAddressesByID">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAddressManager/GetAddressesByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveAddresses">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAddressManager/RemoveAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveDomainAddresses">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAddressManager/RemoveDomainAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetDomainAddressesStatus">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAddressManager/SetDomainAddressesStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAddressCount">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAddressManager/GetAddressCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EnumerateDomainAddresses">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAddressManager/EnumerateDomainAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EnumerateAddresses">
      <soap:operation soapAction="urn:directproject:config/store/082010/IAddressManager/EnumerateAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IDomainManager" type="i0:IDomainManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDomain">
      <soap:operation soapAction="urn:directproject:config/store/082010/IDomainManager/AddDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDomain">
      <soap:operation soapAction="urn:directproject:config/store/082010/IDomainManager/UpdateDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDomain">
      <soap:operation soapAction="urn:directproject:config/store/082010/IDomainManager/GetDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDomainCount">
      <soap:operation soapAction="urn:directproject:config/store/082010/IDomainManager/GetDomainCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDomains">
      <soap:operation soapAction="urn:directproject:config/store/082010/IDomainManager/GetDomains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAgentDomains">
      <soap:operation soapAction="urn:directproject:config/store/082010/IDomainManager/GetAgentDomains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveDomain">
      <soap:operation soapAction="urn:directproject:config/store/082010/IDomainManager/RemoveDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EnumerateDomains">
      <soap:operation soapAction="urn:directproject:config/store/082010/IDomainManager/EnumerateDomains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IDnsRecordManager" type="i0:IDnsRecordManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDnsRecords">
      <soap:operation soapAction="urn:directproject:config/store/082010/IDnsRecordManager/AddDnsRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddDnsRecord">
      <soap:operation soapAction="urn:directproject:config/store/082010/IDnsRecordManager/AddDnsRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Count">
      <soap:operation soapAction="urn:directproject:config/store/082010/IDnsRecordManager/Count" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLastDnsRecords">
      <soap:operation soapAction="urn:directproject:config/store/082010/IDnsRecordManager/GetLastDnsRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDnsRecord">
      <soap:operation soapAction="urn:directproject:config/store/082010/IDnsRecordManager/GetDnsRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDnsRecords">
      <soap:operation soapAction="urn:directproject:config/store/082010/IDnsRecordManager/GetDnsRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMatchingDnsRecords">
      <soap:operation soapAction="urn:directproject:config/store/082010/IDnsRecordManager/GetMatchingDnsRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMatchingDnsRecordsByType">
      <soap:operation soapAction="urn:directproject:config/store/082010/IDnsRecordManager/GetMatchingDnsRecordsByType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveDnsRecord">
      <soap:operation soapAction="urn:directproject:config/store/082010/IDnsRecordManager/RemoveDnsRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemoveDnsRecordByID">
      <soap:operation soapAction="urn:directproject:config/store/082010/IDnsRecordManager/RemoveDnsRecordByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDnsRecord">
      <soap:operation soapAction="urn:directproject:config/store/082010/IDnsRecordManager/UpdateDnsRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDnsRecords">
      <soap:operation soapAction="urn:directproject:config/store/082010/IDnsRecordManager/UpdateDnsRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EnumerateDnsRecords">
      <soap:operation soapAction="urn:directproject:config/store/082010/IDnsRecordManager/EnumerateDnsRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EnumerateDnsRecordsByType">
      <soap:operation soapAction="urn:directproject:config/store/082010/IDnsRecordManager/EnumerateDnsRecordsByType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ICertPolicyStore" type="i0:ICertPolicyStore">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPolicyByName">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertPolicyStore/GetPolicyByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCertPoliciesCount">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertPolicyStore/GetCertPoliciesCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyByID">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertPolicyStore/GetPolicyByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetIncomingPoliciesByDomain">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertPolicyStore/GetIncomingPoliciesByDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetOutgoingPoliciesByDomain">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertPolicyStore/GetOutgoingPoliciesByDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EnumerateCertPolicies">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertPolicyStore/EnumerateCertPolicies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddPolicy">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertPolicyStore/AddPolicy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemovePolicies">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertPolicyStore/RemovePolicies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdatePolicyAttributes">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertPolicyStore/UpdatePolicyAttributes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="EnumerateCertPolicyGroups">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertPolicyStore/EnumerateCertPolicyGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyGroupByName">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertPolicyStore/GetPolicyGroupByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyGroupByID">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertPolicyStore/GetPolicyGroupByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddPolicyGroup">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertPolicyStore/AddPolicyGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemovePolicyGroups">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertPolicyStore/RemovePolicyGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateGroupAttributes">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertPolicyStore/UpdateGroupAttributes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddPolicyUseToGroup">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertPolicyStore/AddPolicyUseToGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RemovePolicyUseFromGroup">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertPolicyStore/RemovePolicyUseFromGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AssociatePolicyGroupToDomain">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertPolicyStore/AssociatePolicyGroupToDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DisassociatePolicyGroupFromDomain">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertPolicyStore/DisassociatePolicyGroupFromDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DisassociatePolicyGroupsFromDomain">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertPolicyStore/DisassociatePolicyGroupsFromDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DisassociatePolicyGroupFromDomains">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertPolicyStore/DisassociatePolicyGroupFromDomains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetPolicyGroupsByDomain">
      <soap:operation soapAction="urn:directproject:config/store/082010/ICertPolicyStore/GetPolicyGroupsByDomain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ConfigStoreFaultFault">
        <soap:fault use="literal" name="ConfigStoreFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DomainManagerService">
    <wsdl:port name="BasicHttpBinding_IAddressManager" binding="tns:BasicHttpBinding_IAddressManager">
      <soap:address location="http://localhost:6692/DomainManagerService.svc/Addresses" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IDomainManager" binding="tns:BasicHttpBinding_IDomainManager">
      <soap:address location="http://localhost:6692/DomainManagerService.svc/Domains" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IDnsRecordManager" binding="tns:BasicHttpBinding_IDnsRecordManager">
      <soap:address location="http://localhost:6692/DomainManagerService.svc/DnsRecords" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ICertPolicyStore" binding="tns:BasicHttpBinding_ICertPolicyStore">
      <soap:address location="http://localhost:6692/DomainManagerService.svc/CertPolicies" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>